body
{
	background: #ffffff;
	font-family: Arial;
}

h1
{
	color: #0394d8;
	font-size: 25px;
}

h2
{
	font-size: 20px;
	color: #333;
	float: left;
}

input
{
	margin:20px 0 0 15px;
	float: left;
}

a
{
	color:#0394d8;
	font-size: 13px;
	font-weight: bold;
}

h2 a
{
	font-size: 20px;
}

p
{
	font-size: 13px;
	margin:0;
	padding:0;
}

ul
{
	margin:0;
}

.code
{
	font-family: Verdana;
	color: #353535;
	background-color:#d4d4d4;
	font-size: 13px;
	padding:5px 5px 5px 5px;
}

.clear-both
{
	clear: both;
}

.box
{
	margin: -10px 0 20px 0;
}

p.title
{
	font-size: 16px;
	font-weight: bold;
	margin:20px 0 10px 0;
}

.outro
{
	display: none;	
}
#wrapper
{
	width: 980px;
	margin: 0 auto;
}
